*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}
body {
  font-size: 1.4rem;
  font-family: sans-serif;
  line-height: 1.7;
}

:root {
  --color-white: #fff;
  --color-grey: #eee;
  --color-orange: #ff9101;
}

.heading-1 {
  font-size: 2em;
}

.heading-2 {
  font-size: 2.3rem;
}
.heading-3 {
  font-size: 2.5rem;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex: 0 0 10rem;
  background-color: var(--color-white);

  text-align: center;
  font-family: monospace;
  font-style: italic;
  font-size: 2.5rem;
}

.header a {
  color: var(--color-orange);
}

a {
  text-decoration: none;
}

.main {
  flex: 1 0 auto;
  background-color: var(--color-grey);
  padding: 1.5rem;
}

.order-btn {
  display: block;
  width: fit-content;
  margin-left: auto;
}

.main-content h3 {
  text-align: center;
  text-decoration: underline;
}

/* pizzas section */
.pizzas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 3rem;
  margin-top: 2rem;
}

.pizza {
  width: 40rem;
  position: relative;
  cursor: pointer;
}

.pizza:hover .pizza__desc {
  opacity: 1;
}

.pizza:hover .pizza__img {
  filter: brightness(0.5);
}

.pizza__img {
  width: 100%;
}
.pizza__desc {
  opacity: 0;
  font-size: 1.8rem;
  color: var(--color-grey);
  text-transform: capitalize;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  direction: rtl;
  text-align: left;

  transition: all 0.5s;
}

.order-totals {
  margin-left: 2rem;
  font-size: 1.7rem;
  width: 45rem;
  height: 10rem;
}

.order-totals--pizza,
.order-totals--delivery,
.order-totals--totals {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  text-align: center;
}

.sub__total {
  font-size: 1.8rem;
  font-weight: bold;
}
.order-totals--totals .sub__total {
  font-size: 2rem;
  text-align: right;
}

.order-totals input {
  width: 5rem;
  padding: 0.5rem;
  font-size: 1.8rem;
}

.ingridients {
  text-transform: capitalize;
}

.order {
  width: 40rem;
  margin: 7rem auto;
  text-align: left;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order__form {
  display: flex;
  flex-direction: column;
}

.form__input {
  width: min-content;
  border: none;
  background-color: #dcdcdc;

  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
}

.btn {
  font-size: 1.8rem;

  color: var(--color-orange);
  background-color: #1c1419;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.2s;
  width: fit-content;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn:hover {
  color: #fff;
}

.btn a {
  color: inherit;
  text-decoration: none;
}

.receipt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 25rem;
  padding: 1rem;
  background-color: var(--color-white);
}

.receipt h2 {
  text-align: center;
}

.receipt p {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
.receipt .total {
  font-size: 2.2rem;
  font-weight: 700;
}

.mpesaImg {
  height: 6rem;
  margin: 0 auto;
}

.footer {
  flex: 0 0 12rem;
  background-color: var(--color-orange);
}
.hidden {
  display: none;
}
