*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}
body {
  font-size: 1.4rem;
  font-family: sans-serif;
  line-height: 1.7;
}

:root {
  --color-white: #fff;
  --color-grey: #eee;
  --color-orange: #ff9101;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex: 0 0 10rem;
  background-color: var(--color-white);

  text-align: center;
  font-family: monospace;
  font-style: italic;
  font-size: 2.5rem;
}

.header a {
  color: var(--color-orange);
}

a {
  text-decoration: none;
}
