*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}
body {
  font-size: 1.4rem;
  font-family: sans-serif;
  line-height: 1.7;
}

:root {
  --color-white: #fff;
  --color-grey: #eee;
  --color-orange: #ff9101;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex: 0 0 10rem;
  background-color: var(--color-white);

  text-align: center;
  font-family: monospace;
  font-style: italic;
  font-size: 2.5rem;
}

.header a {
  color: var(--color-orange);
}

a {
  text-decoration: none;
}

.main {
  flex: 1 0 auto;
  background-color: var(--color-grey);
}

/* pizzas section */
.pizzas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 3rem;
}

.pizza {
  width: 40rem;
  position: relative;
}

.pizza__img {
  width: 100%;
}
.pizza__desc {
  position: absolute;
  bottom: 1rem;
  right: 3rem;
  direction: rtl;
  text-align: left;
}

.order-totals {
  margin-left: 2rem;
  font-size: 1.7rem;
  width: 45rem;
  height: 10rem;
}

.order-totals--pizza,
.order-totals--delivery,
.order-totals--totals {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  text-align: center;
}

.sub__total {
  font-size: 1.8rem;
  font-weight: bold;
}
.order-totals--totals .sub__total {
  font-size: 2rem;
  text-align: right;
}

.order-totals input {
  width: 5rem;
  padding: 0.5rem;
  font-size: 1.8rem;
}

.ingridients {
  text-transform: capitalize;
}

.order {
  width: 40rem;
  margin-left: 60rem;
  text-align: left;
  font-size: 1.6rem;
}

.order__form {
  display: flex;
  flex-direction: column;
}

.form__input {
  width: min-content;
  border: none;
  background-color: #dcdcdc;

  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
}

.btn {
  font-size: 1.8rem;
  /* color: #a5ae32; */
  color: var(--color-orange);
  background-color: #1c1419;
  border: none;
  padding: 5px 10px;
  margin: 1rem auto;
  border-radius: 5px;
  transition: all 0.2s;
}

.btn:hover {
  color: #fff;
}

.btn a {
  color: inherit;
  text-decoration: none;
}
